.prices {
	&-list {
		margin-top: 3rem;
		&_item {
			border: 1px solid $grey;
			position: relative;
			margin-bottom: 3rem;
			h4 {
				top: -6%;
			}
		}
	}
	.text {
		padding: 1rem 0;
	}
	hr {
		width: 80%;
		margin: auto;
	}
	button {
		width: 60%;
		margin-left: 20%;
	}
}