.clientage {
	&-slider-btn {
		display: block;
		position: absolute;
		top:0;
		height: 4rem;
		width: 1.9rem;
		background: none;
	}
	&-prev-btn {
		left: -1.2rem;
	}
	&-next-btn {
		right: -1rem;
	}

	&-img{
		width: 15rem;
	}
	img {
		display: block;
		margin: 0 auto;
	}
}