.contacts {
	&-info p {
		padding: 0.5rem 0 0;
		font-size: 1.1rem;
		@include bold;
	}
	&-politics {
		transform: translateY(-100%);
		@media (max-width: 992px) {
			transform: translateY(-80%);
		}
		@media (max-width: 768px) {
			transform: translateY(20%);
		}
	}
	&-form {
		margin-top: -5rem;
		input[type="text"], textarea{
			padding: 0.7rem;
			width: 100%;
			margin-bottom: 1.5rem;
			border-color: #e1e1e1;
		}
		&-dispatch {
			margin-top: 3rem;
			@media (max-width: 768px) {
				margin-top: 0;
			}
		}
		@media (max-width: 768px) {
			margin-top: 2rem;
		}
	}
	&-check {
		margin-top: 2rem;
	}
}