.whyeh {
  &-item {
    width: 100%;
    text-align: center;
    margin: 3rem 0;

    img {
      display: inline-block;
      max-width: 100%;
    }
    @media (max-width: 484px) {
      margin: 1rem 0;
    }
  }
}